<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom bg-primary">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a class="text-white" > Emon by </a>
    <a href="https://www.linkedin.com/in/jeffreylantinga/" class="text-light" > Jeffrey Lantinga</a>
    <a class="text-white" > &</a>
    <a href="https://www.linkedin.com/in/dion-bartelen-7b7382103/" class="text-light" > Dion Bartelen</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->