<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand text-light" href="#">Emon inside</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="nav-link" onclick="window.location='data'+window.location.search;">Gemiddeld verbruik <span class="sr-only">(current)</span></a>

      <a class="nav-link" onclick="window.location='data'+window.location.search;">Totaal verbruik<span class="sr-only"></span></a>
      <a class="nav-link" onclick="window.location='sensor'+window.location.search;">Sensor data<span class="sr-only"></span></a>

    </ul>
  </div>
</nav>