<h1> Gegevens van de meterkast </h1>
<div (window:resize)="onResize($event)"></div>
<link href="https://rawgit.com/angular/material2-builds/master/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<br>
<span id="gauges">
  <ngx-gauge id="verbruikGauge" type="arch" thick="5" duration="250" foregroundColor="#61ff00" backgroundColor= "#b2b2b2"  [value]="gaugeValue" label="huidig verbruik" append="W" min="0"
    max="7500"></ngx-gauge>

  <ngx-gauge id="opleveringGauge" type="arch" thick="5" duration="250" foregroundColor="#61ff00" backgroundColor= "#b2b2b2" [value]="opleverValue" label="huidige Oplevering" append="W" min="0"
    max="7500"></ngx-gauge>

  <p>Totaal verbruik op de meter is {{totaalVerbruik}}kWh en dat voor €{{kostenPer}}/kWh komt uit op €{{totaleKosten}}
  </p>
</span>

<span id="dates">
  <span id="begin">
    <p id="beginText">Begin datum</p>
    <input matInput min="2019-01-01" [max]="maxDate" matInput [matDatepicker]="beginPicker"
      (dateChange)="BeginDateChange($event)" placeholder="Choose date">
    <mat-datepicker-toggle matSuffix [for]="beginPicker"></mat-datepicker-toggle>
    <mat-datepicker #beginPicker></mat-datepicker>
  </span>

  <span id="end">
    <p id="endText">Eind datum</p>
    <input matInput min="2019-01-01" [max]="maxDate" matInput [matDatepicker]="endPicker"
      (dateChange)="EndDateChange($event)" placeholder="Choose date">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
    <button id="buttonYO" (click)="OnClickMe()">Get Data</button>
  </span>
</span>
<mat-tab-group id="tabs" (selectedTabChange)="yourFn($event)" animationDuration="0ms">
  <mat-tab label="Minuut"> </mat-tab>
  <mat-tab label="Uur"></mat-tab>
  <mat-tab label="Dag"></mat-tab>
  <mat-tab label="Maand"></mat-tab>
</mat-tab-group>

<span id="canvasHolder">
  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</span>