<h1> Gegevens van {{naam}} </h1>
<link href="https://rawgit.com/angular/material2-builds/master/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<br>
<span id="gauges">
  <ngx-gauge id="verbruikGauge" type="arch" [value]="gaugeValue" label="huidig verbruik" append="W" [min]="0"
    [max]="5000"></ngx-gauge>

  <ngx-gauge id="opleveringGauge" type="arch" [value]="opleverValue" label="huidige Oplevering" append="W" [min]="0"
    [max]="5000"></ngx-gauge>
</span>

<span id="dates">
  <span id="begin">
    <p id="beginText">Begin datum</p>
    <input matInput [min]="minDate" [max]="maxDate" matInput [matDatepicker]="beginPicker" placeholder="Choose date">
    <mat-datepicker-toggle matSuffix [for]="beginPicker"></mat-datepicker-toggle>
    <mat-datepicker #beginPicker></mat-datepicker>
  </span>

  <span id="end">
    <p id="endText">Eind datum</p>
    <input matInput [min]="minDate" [max]="maxDate" matInput [matDatepicker]="endPicker" placeholder="Choose date">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </span>
</span>

<mat-tab-group id="tabs">
  <mat-tab label="Uur">
    <div *ngIf="chart">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </mat-tab>
  <mat-tab label="Dag"></mat-tab>
  <mat-tab label="Maand"></mat-tab>
  <mat-tab label="Jaar"></mat-tab>
</mat-tab-group>



<br><br>
<button (click)="OnClickMe()">Get Data</button>